<header>
  <div class="title"><br/>{{title}}</div>
</header>

<div id="todo-container">

  <div id="tasks-form">
    <form #f="ngForm" (ngSubmit)="addTask()" novalidate>
      <mat-form-field class="form-field">
        <mat-label>Task to do...</mat-label>
        <input matInput placeholder="Ex. Curso Angular de Cero a Experto" [(ngModel)]="taskDescription"
          [ngModelOptions]="{standalone:true}" />
        <button mat-raised-button color="primary" type="submit" id="new-task">ADD TASK</button>
      </mat-form-field>
    </form>
  </div>

  <div id="tasks-list">
    <table>
      <tr>
        <th>Delete</th>
        <th class="description">Task</th>
        <th>Done?</th>
      </tr>
      <tr *ngFor="let todoItem of dataView">
        <td>
          <button mat-icon-button color="warn" class="icon-button-small" aria-label="large icon"
            (click)="deleteItem(todoItem.id)">
            <mat-icon>delete</mat-icon>

          </button>
        </td>
        <td>{{todoItem.description}}</td>
        <td><input type="checkbox" [attr.checked]="todoItem.isDone? 'checked' : null" (click)="taskDone(todoItem.id)"></td>
      </tr>
    </table>

  </div>

  <div id="tasks-control">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" (click)="showAll()">Todos</mat-button-toggle>
      <mat-button-toggle value="italic" (click)="filterList(true)">Completed</mat-button-toggle>
      <mat-button-toggle value="underline" (click)="filterList(false)">No Completed</mat-button-toggle>
      <mat-button-toggle value="underline" (click)="deleteCompleted()">Delete Completed</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</div>